*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkorchid;
    color: white;
}
.box{
    width: 500px;
    height: 80vh;
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.466);

}
.input-group{
    margin: 45px;
}
#txt{
    outline: 0;
    background-color: rgba(255, 255, 255, 0.336);
    border: 0;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: larger;
    color: white;
    font-weight: bold;

}

#img{
    margin-left: 130px;
    margin-top: -40px;
}

.txt-group{
    text-align: center;
    line-height: 50px;
}

.hum{
    float: left;
    margin-left: 100px;
    line-height: 40px;
    margin-top: 40px;
}

.hum h2{
    margin-left: 15px;
}


.speed{
    float: right;
    margin-right:100px;
    line-height: 40px;
    margin-top: 30px;

}

.speed h2{
    margin-left: -15px;
}